body {
    background-color: #f5efe7;
}

h1 {
    text-align: center;
    margin-top: 60px;
    font-size: 50px;
}
.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    border-radius: 4px;
    background-color: #d8c4b6;
    padding: 6px 20px;
    width: 200px;
}

button {
    background-color: #213555;
    color: #ece7e4;
    border-radius: 4px;
    padding: 8px 100px;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
}
p {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: black;
    text-align: center;
}